<!-- Default options -->
<div class="row">
	<div class="col-md-12">
		<!-- Basic layout-->

		<form #dfForm="ngForm" (change)="formUpdate(dfForm);" class="form-horizontal">
<!-- Basic examples -->
			<div class="panel panel-flat">

				<div class="panel-body">
					<!-- Default select -->

					<fieldset  ngModelGroup="form_data">
					<fieldset class="content-group">
						<legend class="text-bold">Yayın Aralığı</legend>
					
					<div class="col-md-3">
Yayın Aralığı
					</div>

					<div class="col-md-9">
					<div class="col-md-6">
						<div class="form-group">
							<label>Başlangıç Tarihi: </label>
							<div class="input-group  pr-10">
								<span class="input-group-addon"><i class="icon-calendar22"></i></span>
								<input type="date" class="form-control daterange-basic" name="start_date" ngModel={{rules?.start_date}}>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Bitiş Tarihi: </label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-calendar22"></i></span>
								<input type="date" class="form-control daterange-basic" name="end_date" ngModel={{rules?.end_date}}>
							</div>
						</div>
					</div>
					</div>

					</fieldset>
					<fieldset class="content-group">
						<legend class="text-bold">Limitler</legend>
					<div class="col-md-3">
Limitler
					</div>

					<div class="col-md-9">
					<div class="col-md-6">
						<div class="form-group pr-10">
							<label>Max Tıklama: </label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-touch"></i></span>
								<input type="number" class="form-control daterange-basic" name="max_click" ngModel={{rules?.max_click}}>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label>Max Gösterim: </label>
							<div class="input-group">
								<span class="input-group-addon"><i class="icon-eye4"></i></span>
								<input type="number" class="form-control daterange-basic" name="max_view" ngModel={{rules?.max_view}}>
							</div>
						</div>
					</div>
					</div>

					</fieldset>


				
						<fieldset class="content-group">
						<legend class="text-bold">Tarayıcılar</legend>
						<div class="form-group">
							<label class="col-lg-3 control-label">Tarayıcılar:</label>
							<div class="col-lg-9">
								<select class="form-control" name="browsers" multiple="multiple" [(ngModel)]="rules.browsers">
												<option value="chrome">Chrome</option>
												<option value="firefox">Firefox</option>
												<option value="safari">Safari</option>
												<option value="opera">Opera</option>
												<option value="IE">IE</option>
									    </select>
							</div>
						</div>
					</fieldset>
					<fieldset class="content-group">
						<legend class="text-bold">Platformlar</legend>
						<div class="form-group">
							<label class="col-lg-3 control-label">Platformlar:</label>
							<div class="col-lg-9">
								<select class="form-control" name="platforms" multiple="multiple" [(ngModel)]="rules.platforms">
												<option value="windows">Windows</option>
												<option value="linux">Linux</option>
												<option value="macos">Mac Os</option>
												<option value="android">Android</option>
												<option value="ios">IOS</option>
									    </select>
							</div>
						</div>
					</fieldset>
					<fieldset class="content-group">
						<legend class="text-bold">Network</legend>
						<div class="form-group">
							<label class="col-lg-3 control-label">Network:</label>
							<div class="col-lg-9">
								<select class="form-control" name="networks" multiple="multiple" [(ngModel)]="rules.networks">
												<option value="wifi">Wifi</option>
												<option value="lan">Lan</option>
												<option value="mobil">Mobil</option>
												<option value="intranet">Intranet</option>
									    </select>
							</div>
						</div>
					</fieldset>
					<fieldset class="content-group">
						<legend class="text-bold">Lokasyonlar</legend>
						<div class="form-group">
							<label class="control-label col-lg-3">Lokasyonlar</label>
							<div class="col-lg-9">
								<select multiple="multiple" class="form-control" name="lokasyon" multiple="multiple" [(ngModel)]="rules.lokasyon">
												<optgroup label="Avrupa">
												<option value="turkey">Türkiye</option>
				                                <option value="amsterdam">Amsterdam</option>
												</optgroup>
												<optgroup label="Asya">
 												<option value="china">Çin</option>
												</optgroup>
				                               
				                            </select>
							</div>
						</div>
					</fieldset>

					<fieldset class="content-group">
						<legend class="text-bold">Diller</legend>
						<div class="form-group">
							<label class="control-label col-lg-3">Diller</label>
							<div class="col-lg-9">
								<select multiple="multiple" class="form-control" name="diller" multiple="multiple" [(ngModel)]="rules.diller">
												<option value="turkish">Türkçe</option>
				                                <option value="english">English</option> 
				                            </select>
							</div>
						</div>

					</fieldset>
					</fieldset>
<input type="hidden" name="user_id" ngModel="{{campaign?.user_id}}">
<input type="hidden" name="camp_id" ngModel="{{campaign?.id}}">


				</div>
			</div>
			<!-- /basic examples -->
		</form>
		<button (click)="submitAd()">Gönder</button>
		<pre>
 {{dfForm.value | json}}
 </pre>
	</div>


</div>