	<!-- Default options -->
					<div class="row">
						<div class="col-md-12">
														<!-- Basic layout-->

                               <form #dfForm="ngForm" (change)="formUpdate(dfForm);"  class="form-horizontal">
					<!-- Colors -->
	            	<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">Browsers</h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>
                     
	                	<div class="panel-body">
			
										<div class="form-group"  ngModelGroup="deneme">
											<label class="col-lg-3 control-label">Name:</label>
											<div class="col-lg-9">
												<div class="checkbox" *ngFor="let lang of secimler; let i=index;">
													<label>
														<input  name="{{lang}}" type="checkbox" class="control-danger"  ngModel="{{browsers.includes(lang) || ''}}">
														{{lang}}
													</label>
												</div>			
											</div>
										</div>	
                                                <div class="col-md-3">
                                                    Diller
                                                </div>
                            									
		                		<div class="col-md-9">
                                    <span>Tikla Bana</span>
									<div class="form-group" ngModelGroup="brows">
										<div class="row">
											
                                                <div class="col-md-2">

												<div class="checkbox">
													<label>
														<input  name="google" type="checkbox" class="control-danger"  ngModel="true">
														Google
													</label>
												</div>
                                                </div>

     <div class="col-md-2">
												<div class="checkbox">
													<label>
<input type="checkbox" class="control-danger" checked="checked" name="firefox" ngModel>
														Firefox
													</label>
												</div>
												</div>
     <div class="col-md-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-success" checked="checked" name="opera" ngModel>
														Opera
													</label>
												</div>
												</div>
     <div class="col-md-2">
												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-warning" checked="checked" name="safari" ngModel>
														Safari
													</label>
												</div>
												</div>

											</div>
									
									</div>
								</div>



						</div>


						</div>
							<!-- Basic examples -->
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h5 class="panel-title">Basic examples</h5>
									<div class="heading-elements">
										<ul class="icons-list">
					                		<li><a data-action="collapse"></a></li>
					                		<li><a data-action="reload"></a></li>
					                		<li><a data-action="close"></a></li>
					                	</ul>
				                	</div>
								</div>

								<div class="panel-body"  ngModelGroup="filtreler">
                                   

									<!-- Default select -->
										<div class="form-group">
											<label class="col-lg-3 control-label">Tekli Seçimler:</label>
											<div class="col-lg-9">
										<select class="bootstrap-select" name="tekli" data-width="100%" ngModel="HI">
											<option value="AK">Alaska</option>
											<option value="HI">Hawaii</option>
											<option value="CA">California</option>
											<option value="NV">Nevada</option>
											<option value="OR">Oregon</option>
										</select>
									</div>
									</div>
									<!-- /default select -->


									<!-- Option groups support -->
										<div class="form-group">
											<label class="col-lg-3 control-label">Grup Seçimi:</label>
											<div class="col-lg-9">
										<select class="bootstrap-select" name="grupsecim" data-width="100%">
											<optgroup label="Alaskan/Hawaiian Time Zone">
												<option value="AK">Alaska</option>
												<option value="HI">Hawaii</option>
											</optgroup>
											<optgroup label="Pacific Time Zone">
												<option value="CA">California</option>
												<option value="NV">Nevada</option>
												<option value="OR">Oregon</option>
											</optgroup>
											<optgroup label="Mountain Time Zone">
												<option value="AZ">Arizona</option>
												<option value="CO">Colorado</option>
												<option value="ID">Idaho</option>
											</optgroup>
										</select>
									</div>
									</div>
									<!-- /option groups support -->


									<!-- Multiple select -->
										<div class="form-group">
											<label class="col-lg-3 control-label">Çoklu Seçim:</label>
											<div class="col-lg-9">
										<select class="bootstrap-select" multiple="multiple" data-width="100%" name="coklusecim"  [(ngModel)]="formArr">
											<option value="AK" selected="selected">Alaska</option>
											<option value="HI">Hawaii</option>
											<option value="CA">California</option>
											<option value="NV">Nevada</option>
											<option value="OR">Oregon</option>
										</select>
									</div>
									</div>
									<!-- /multiple select -->


									<!-- Multiple limited select -->
										<div class="form-group">
											<label class="col-lg-3 control-label">Limitli Seçim:</label>
											<div class="col-lg-9">
										<select class="bootstrap-select" multiple="multiple" data-max-options="2" data-width="100%">
											<option value="AK">Max 2 seçim</option>
											<option value="HI">Hawaii</option>
											<option value="CA">California</option>
											<option value="NV">Nevada</option>
											<option value="OR">Oregon</option>
										</select>
									</div>
									</div>
									<!-- /multiple limited select -->



									<!-- Select with icons -->
									<!-- Default select -->
										<div class="form-group">
											<label class="col-lg-3 control-label">Tarayıcılar:</label>
											<div class="col-lg-9">
										<select class="bootstrap-select" name="browsers" multiple="multiple" data-show-subtext="true" data-width="100%" [(ngModel)]="browsers">
											<optgroup label="Browsers">
												<option value="chrome" data-icon="icon-chrome" selected="selected">Chrome</option>
												<option value="firefox" data-icon="icon-firefox">Firefox</option>
												<option value="safari" data-icon="icon-safari">Safari</option>
												<option value="opera" data-icon="icon-opera">Opera</option>
												<option value="IE" data-icon="icon-IE">IE</option>
											</optgroup>
									    </select>
									</div>
									</div>
									<!-- /select with icons -->
									<!-- Select with icons -->
									<!-- Default select -->
										<div class="form-group">
											<label class="col-lg-3 control-label">Platformlar:</label>
											<div class="col-lg-9">
										<select class="bootstrap-select" name="platforms" multiple="multiple" data-show-subtext="true" data-width="100%" [(ngModel)]="platforms">
											<optgroup label="Services">
												<option value="wordpress2" data-icon="icon-wordpress2">Wordpress</option>
												<option value="tumblr2" data-icon="icon-tumblr2">Tumblr</option>
												<option value="stumbleupon" data-icon="icon-stumbleupon">Stumble upon</option>
												<option value="pinterest2" data-icon="icon-pinterest2">Pinterest</option>
												<option value="lastfm2" data-icon="icon-lastfm2">Lastfm</option>
											</optgroup>
									    </select>
									</div>
									</div>
									<!-- /select with icons -->
									<!-- Select with icons -->
									<!-- Default select -->
										<div class="form-group">
											<label class="col-lg-3 control-label">Network:</label>
											<div class="col-lg-9">
										<select class="bootstrap-select" name="networks" multiple="multiple" data-show-subtext="true" data-width="100%" [(ngModel)]="networks">
											<optgroup label="File types">
												<option value="pdf" data-icon="icon-file-pdf">PDF</option>
												<option value="word" data-icon="icon-file-word">Word</option>
												<option value="excel" data-icon="icon-file-excel">Excel</option>
												<option value="openoffice" data-icon="icon-file-openoffice">Open office</option>
											</optgroup>
									    </select>
									</div>
									</div>
									<!-- Default select -->
										<div class="form-group">
											<label class="col-lg-3 control-label">Diller:</label>
											<div class="col-lg-9">
										<select class="bootstrap-select" name="diller" multiple="multiple" data-show-subtext="true" data-width="100%" ngModel>
											<optgroup label="File types">
												<option value="pdf" data-icon="icon-file-pdf">PDF</option>
												<option value="word" data-icon="icon-file-word">Word</option>
												<option value="excel" data-icon="icon-file-excel">Excel</option>
												<option value="openoffice" data-icon="icon-file-openoffice">Open office</option>
											</optgroup>
									    </select>
									</div>
									</div>
										<div class="form-group">
											<label class="col-lg-3 control-label">Lokasyon:</label>
											<div class="col-lg-9">
										<select class="bootstrap-select" name="lokasyon" multiple="multiple" data-show-subtext="true" data-width="100%" ngModel>
											<optgroup label="File types">
												<option value="pdf" data-icon="icon-file-pdf">PDF</option>
												<option value="word" data-icon="icon-file-word">Word</option>
												<option value="excel" data-icon="icon-file-excel">Excel</option>
												<option value="openoffice" data-icon="icon-file-openoffice">Open office</option>
											</optgroup>
									    </select>
									</div>
									</div>



								</div>
							</div>
							<!-- /basic examples -->
 </form> 
 <pre>
 {{dfForm.value | json}}
 </pre>
						</div>

                       
						</div>




