<form>

                								<div class="form-group">
									<label class="control-label col-lg-2">Full width label helpers</label>
									<div class="col-lg-10">
										<div class="row">
											<div class="col-md-4">
												<input type="text" class="form-control">
												<span class="label label-block label-primary text-left">Left aligned label</span>
											</div>

											<div class="col-md-4">
												<input type="text" class="form-control">
												<span class="label label-block label-danger">Centered label</span>
											</div>

											<div class="col-md-4">
												<input type="text" class="form-control">
												<span class="label label-block label-info text-right">Right aligned label</span>
											</div>
										</div>
									</div>
								</div>
            </form>