
					<!-- Both borders -->
					<div class="panel panel-flat">


						<div class="table-responsive  pre-scrollable">
							<table class="table table-bordered">
								<thead>
									<tr>
										<th>#Date</th>
										<th>Total Views</th>
										<th>Total Click</th>
										<th>CTR</th>
									</tr>
								</thead>
								<tbody class="">
									<tr>
										<td>12-25-2017</td>
										<td>3,900</td>
										<td>558</td>
										<td>3.85 %</td>
									</tr>
									<tr *ngFor="let item of emptyArray; let i = index;">
										<td>{{i}}.25.2017</td>
										<td>{{i * i * i}}</td>
										<td>{{i * i}}</td>
										<td>{{(i * i) / 100}}</td>
									</tr>
								
								</tbody>
							</table>
						</div>
					</div>
					<!-- /both borders -->
