<!-- Main content -->
<div class="">

	<div class="page-header bg-white">
		<div class="page-header-content ">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Kampanya </span> - {{campaign?.camp.name}}</h4>
				<a class="heading-elements-toggle"><i class="icon-more"></i></a></div>

			<div class="heading-elements">
				<div class="heading-btn-group">
					<a [routerLink]="['add-item']" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-bars-alt text-primary"></i><span> Reklam Ekle </span></a>
					<a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-calculator text-primary"></i> <span>Raporlar</span></a>
					<a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-calendar5 text-primary"></i> <span>Ayarlar</span></a>
				</div>
			</div>
		</div>
		<div class="breadcrumb-line breadcrumb-line-component no-border-radius">
			<ul class="breadcrumb">
				<li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
				<li><a href="layout_boxed.html">Kampanya</a></li>
				<li class="active">Boxed layout</li>
			</ul>

			<ul class="breadcrumb-elements">
				<li><a href="#"><i class="icon-comment-discussion position-left"></i> Link</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-gear position-left"></i> Dropdown
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
						<li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
						<li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="icon-gear"></i> All settings</a></li>
					</ul>
				</li>
			</ul>
		</div>

	</div>
	<!-- Main content -->

	<div class="content">

		<div class="tab-content-bordered navbar-component  no-border-radius">
			<div class="navbar navbar-inverse bg-teal-400" style="position: relative; z-index: 30;border-radius:0;">


				<div class="navbar-collapse collapse" id="demo1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#tab-demo1" data-toggle="tab" class="legitRipple" aria-expanded="true">
								<i class="icon-file-picture2 position-left"></i> Özet
							</a>
						</li>
						<li><a href="#tab-demo2" data-toggle="tab" aria-expanded="false"><i class="icon-github"></i> Reklamlar</a></li>
						<li class="">
							<a href="#tab-demo5" data-toggle="tab" class="legitRipple" aria-expanded="false"><i class="icon-file-music2 position-left"></i>
																Filtreler
																<span class="badge bg-teal-800 badge-inline position-right">26</span>
															</a>
						</li>

						<li class="">
							<a href="#tab-demo3" data-toggle="tab" aria-expanded="false"> <i class="icon-file-stats2 position-left"></i> Raporlar</a>
						</li>
						<li><a href="#tab-demo4" data-toggle="tab" aria-expanded="false"><i class="icon-pinterest2"></i> Özellikler</a></li>



						<li class="disabled">
							<a href="#tab-disabled" data-toggle="tab">
								<i class="icon-file-video2 position-left"></i> Video
							</a>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false">
								<i class="icon-file-stats2 position-left"></i> Statistics
								<span class="caret"></span>
							</a>

							<ul class="dropdown-menu dropdown-menu-right">
								<li class=""><a href="#tab-demo3" data-toggle="tab" aria-expanded="false"><i class="icon-dribbble3"></i> Dribbble</a></li>
								<li><a href="#tab-demo4" data-toggle="tab" aria-expanded="false"><i class="icon-pinterest2"></i> Pinterest</a></li>
								<li><a href="#tab-demo5" data-toggle="tab" aria-expanded="false"><i class="icon-github"></i> Github</a></li>
								<li><a href="#tab-demo6" data-toggle="tab" aria-expanded="false"><i class="icon-stackoverflow"></i> Stack Overflow</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>


		</div>


		<div class="tab-content">
			<div class="tab-pane fade active in" id="tab-demo1">

				<div class="row">
					<div class="col-md-6">
						<!-- Daily financials -->
						<div class="panel panel-flat">
							<div class="panel-heading">
								<h6 class="panel-title">Daily financials</h6>
								<div class="heading-elements">
									<span class="badge bg-danger-400 heading-text">+86</span>
								</div>
							</div>

							<div class="panel-body">
								<ul class="media-list">
									<li class="media">
										<div class="media-left">
											<a href="#" class="btn border-pink text-pink btn-flat btn-rounded btn-icon btn-xs"><i class="icon-statistics"></i></a>
										</div>

										<div class="media-body">
											Stats for July, 6: 1938 orders, $4220 revenue
											<div class="media-annotation">2 hours ago</div>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list">
												<li>
													<a href="#"><i class="icon-arrow-right13"></i></a>
												</li>
											</ul>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-xs"><i class="icon-checkmark3"></i></a>
										</div>

										<div class="media-body">
											Invoices <a href="#">#4732</a> and <a href="#">#4734</a> have been paid
											<div class="media-annotation">Dec 18, 18:36</div>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list">
												<li>
													<a href="#"><i class="icon-arrow-right13"></i></a>
												</li>
											</ul>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-xs"><i class="icon-alignment-unalign"></i></a>
										</div>

										<div class="media-body">
											Affiliate commission for June has been paid
											<div class="media-annotation">36 minutes ago</div>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list">
												<li>
													<a href="#"><i class="icon-arrow-right13"></i></a>
												</li>
											</ul>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<a href="#" class="btn border-warning-400 text-warning-400 btn-flat btn-rounded btn-icon btn-xs"><i class="icon-spinner11"></i></a>
										</div>

										<div class="media-body">
											Order <a href="#">#37745</a> from July, 1st has been refunded
											<div class="media-annotation">4 minutes ago</div>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list">
												<li>
													<a href="#"><i class="icon-arrow-right13"></i></a>
												</li>
											</ul>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<a href="#" class="btn border-teal-400 text-teal btn-flat btn-rounded btn-icon btn-xs"><i class="icon-redo2"></i></a>
										</div>

										<div class="media-body">
											Invoice <a href="#">#4769</a> has been sent to <a href="#">Robert Smith</a>
											<div class="media-annotation">Dec 12, 05:46</div>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list">
												<li>
													<a href="#"><i class="icon-arrow-right13"></i></a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!-- /daily financials -->


					</div>

				</div>





			</div>
			<div class="tab-pane fade" id="tab-demo2">
				<div class="panel panel-flat">
					<div class="table-responsive">
						<table class="table text-nowrap">
							<thead>
								<tr>
									<th>Campaign</th>
									<th class="col-md-2">Client</th>
									<th class="col-md-2">Budget</th>
									<th class="col-md-2">Status</th>
								</tr>
							</thead>
							<tbody>
<tr *ngFor="let item of campaign?.ads; let i = index;">
									<td>
										<div class="media-left media-middle">
											<a href="#"><img src="//lumensession.dev/assets/images/placeholder.jpg" class="img-circle img-lg" alt=""></a>
										</div>
										<div class="media-left">
											<div class=""><a [routerLink]="['edit-item/', item.id]" class="text-default text-semibold">{{item.name}}</a></div>
											<div class="text-muted text-size-small">
												<span class="status-mark border-blue position-left"></span> 02:00 - 03:00
											</div>
										</div>
									</td>
									<td><span class="text-muted">Mintlime</span></td>
									<td>
										<h6 class="text-semibold">$5,489</h6>
									</td>
									<td><span class="label bg-blue">Active</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>






			</div>
			<div class="tab-pane fade" id="tab-demo5"> 
				

<form #cfForm="ngForm" (change)="formUpdate(cfForm);">


					<!-- Colors -->
	            	<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">Browsers</h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>
	                	<div class="panel-body">
		                		<div class="col-md-6">
									<div class="form-group">
										<div class="row">
											<div class="col-md-6">
												<div class="checkbox">
													<label>
														<input  name="google" type="checkbox" class="control-primary" checked="checked" ngModel>
														Google
													</label>
												</div>

												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-danger" checked="checked" name="firefox" ngModel>
														Firefox
													</label>
												</div>

												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-success" checked="checked">
														Success checkbox
													</label>
												</div>
											</div>

											<div class="col-md-6">
												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-warning" checked="checked">
														Warning checkbox
													</label>
												</div>

												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-info" checked="checked">
														Info checkbox
													</label>
												</div>

												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-custom" checked="checked">
														Custom color
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>



						</div>


						</div>




	            	<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">Color options</h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>


	                	<div class="panel-body">
            				<p class="content-group">Besides default color, both checkboxes and radio buttons support 5 additional contextual color classes and other custom colors from color system. Colors are adapted to use in different background colors of parent elements - dropdown menus, active list states, input group addons - all checkboxes and radios are white on dark backgrounds. To use, simply add <code>background</code> and <code>text</code> color classes to Uniform's <code>wrapperClass</code> options.</p>

	                		<div class="row">
		                		<div class="col-md-6">
									<div class="form-group">
										<label class="text-semibold">Checkboxes</label>
										<div class="row">
											<div class="col-md-6">
												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-primary" checked="checked" name="primary" ngModel="true">
														Primary checkbox
													</label>
												</div>

												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-danger" checked="checked">
														Danger checkbox
													</label>
												</div>

												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-success" checked="checked">
														Success checkbox
													</label>
												</div>
											</div>

											<div class="col-md-6">
												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-warning" checked="checked">
														Warning checkbox
													</label>
												</div>

												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-info" checked="checked">
														Info checkbox
													</label>
												</div>

												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-custom" checked="checked">
														Custom color
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label class="text-semibold">Radio buttons</label>
										<div class="row">
											<div class="col-md-6">
												<div class="radio">
													<label>
														<input type="radio" name="radio-styled-color" class="control-primary" checked="checked" [value]="1" name="doga" ngModel>
														Primary radio
													</label>
												</div>

												<div class="radio">
													<label>
														<input type="radio" name="radio-styled-color" class="control-danger"  [value]="2" name="doga" ngModel>
														Danger radio
													</label>
												</div>

												<div class="radio">
													<label>
														<input type="radio" name="radio-styled-color" class="control-success"   [value]="3" name="doga" ngModel>
														Success radio
													</label>
												</div>
											</div>

											<div class="col-md-6">
												<div class="radio">
													<label>
														<input type="radio" name="radio-styled-color" class="control-warning">
														Warning radio
													</label>
												</div>

												<div class="radio">
													<label>
														<input type="radio" name="radio-styled-color" class="control-info">
														Info radio
													</label>
												</div>

												<div class="radio">
													<label>
														<input type="radio" name="radio-styled-color" class="control-custom">
														Custom color
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
        				</div>
    				</div>
    				<!-- /colors -->


</form>
{{cfForm.value | json}}
			</div>
			<div class="tab-pane fade" id="tab-demo3">
				Raporlar
{{dfForm.value | json}}
					<!-- Default options -->
					<div class="row">
						<div class="col-md-12">

							<!-- Basic examples -->
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h5 class="panel-title">Basic examples</h5>
									<div class="heading-elements">
										<ul class="icons-list">
					                		<li><a data-action="collapse"></a></li>
					                		<li><a data-action="reload"></a></li>
					                		<li><a data-action="close"></a></li>
					                	</ul>
				                	</div>
								</div>

								<div class="panel-body">
<form #dfForm="ngForm" (change)="formUpdate(dfForm);">
									<!-- Default select -->
									<div class="form-group">
										<label>Default select</label>
										<select class="bootstrap-select" name="select01" data-width="100%" ngModel>
											<option value="AK">Alaska</option>
											<option value="HI">Hawaii</option>
											<option value="CA">California</option>
											<option value="NV">Nevada</option>
											<option value="OR">Oregon</option>
										</select>
									</div>
									<!-- /default select -->


									<!-- Option groups support -->
									<div class="form-group">
										<label>Option groups support</label>
										<select class="bootstrap-select" data-width="100%">
											<optgroup label="Alaskan/Hawaiian Time Zone">
												<option value="AK">Alaska</option>
												<option value="HI">Hawaii</option>
											</optgroup>
											<optgroup label="Pacific Time Zone">
												<option value="CA">California</option>
												<option value="NV">Nevada</option>
												<option value="OR">Oregon</option>
											</optgroup>
											<optgroup label="Mountain Time Zone">
												<option value="AZ">Arizona</option>
												<option value="CO">Colorado</option>
												<option value="ID">Idaho</option>
											</optgroup>
										</select>
									</div>
									<!-- /option groups support -->


									<!-- Multiple select -->
									<div class="form-group">
										<label>Multiple select</label>
										<select class="bootstrap-select" multiple="multiple" data-width="100%">
											<option value="AK">Alaska</option>
											<option value="HI">Hawaii</option>
											<option value="CA">California</option>
											<option value="NV">Nevada</option>
											<option value="OR">Oregon</option>
										</select>
									</div>
									<!-- /multiple select -->


									<!-- Multiple limited select -->
									<div class="form-group">
										<label>Limited select</label>
										<select class="bootstrap-select" multiple="multiple" data-max-options="2" data-width="100%">
											<option value="AK">Max 2 options</option>
											<option value="HI">Hawaii</option>
											<option value="CA">California</option>
											<option value="NV">Nevada</option>
											<option value="OR">Oregon</option>
										</select>
									</div>
									<!-- /multiple limited select -->



									<!-- Select with icons -->
									<div class="form-group">
										<label>Select with icons</label>
										<select class="bootstrap-select" name="browsers" multiple="multiple" ngModel  data-show-subtext="true" data-width="100%">
											<optgroup label="Services">
												<option value="wordpress2" data-icon="icon-wordpress2">Wordpress</option>
												<option value="tumblr2" data-icon="icon-tumblr2">Tumblr</option>
												<option value="stumbleupon" data-icon="icon-stumbleupon">Stumble upon</option>
												<option value="pinterest2" data-icon="icon-pinterest2">Pinterest</option>
												<option value="lastfm2" data-icon="icon-lastfm2">Lastfm</option>
											</optgroup>
											<optgroup label="File types">
												<option value="pdf" data-icon="icon-file-pdf">PDF</option>
												<option value="word" data-icon="icon-file-word">Word</option>
												<option value="excel" data-icon="icon-file-excel">Excel</option>
												<option value="openoffice" data-icon="icon-file-openoffice">Open office</option>
											</optgroup>
											<optgroup label="Browsers">
												<option value="chrome" data-icon="icon-chrome" selected="selected">Chrome</option>
												<option value="firefox" data-icon="icon-firefox">Firefox</option>
												<option value="safari" data-icon="icon-safari">Safari</option>
												<option value="opera" data-icon="icon-opera">Opera</option>
												<option value="IE" data-icon="icon-IE">IE</option>
											</optgroup>
									    </select>
									</div>
									<!-- /select with icons -->


</form>
								</div>
							</div>
							<!-- /basic examples -->

						</div>
						</div>





			</div>
			<div class="tab-pane fade" id="tab-demo4">Özellikler</div>

			<div class="tab-pane fade has-padding" id="tab-demo6">Stack Overflow statistics tab content</div>
		</div>


	</div>
</div>