<!-- Main content -->
<div class="">

	<div class="page-header bg-white">
		<div class="page-header-content ">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Kampanya </span> - {{campaign?.camp.name}}</h4>
				<a class="heading-elements-toggle"><i class="icon-more"></i></a></div>

			<div class="heading-elements">
				<div class="heading-btn-group">
					<a [routerLink]="['add-item']" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-bars-alt text-primary"></i><span> Reklam Ekle </span></a>
					<a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-calculator text-primary"></i> <span>Raporlar</span></a>
					<a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-calendar5 text-primary"></i> <span>Ayarlar</span></a>
				</div>
			</div>
		</div>
		<div class="breadcrumb-line breadcrumb-line-component no-border-radius">
			<ul class="breadcrumb">
				<li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
				<li><a href="layout_boxed.html">Kampanya</a></li>
				<li class="active">Boxed layout</li>
			</ul>

			<ul class="breadcrumb-elements">
				<li><a href="#"><i class="icon-comment-discussion position-left"></i> Link</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-gear position-left"></i> Dropdown
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
						<li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
						<li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="icon-gear"></i> All settings</a></li>
					</ul>
				</li>
			</ul>
		</div>

	</div>
	<!-- Main content -->

	<div class="content">

		<div class="tab-content-bordered navbar-component  no-border-radius">
			<div class="navbar navbar-inverse bg-teal-400" style="position: relative; z-index: 30;border-radius:0;">


				<div class="navbar-collapse collapse" id="demo1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#tab-demo1" data-toggle="tab" class="legitRipple" aria-expanded="true">
								<i class="icon-file-picture2 position-left"></i> Özet
							</a>
						</li>
						<li><a href="#tab-demo2" data-toggle="tab" aria-expanded="false"><i class="icon-github"></i> Reklamlar</a></li>
						<li class="">
							<a href="#tab-demo5" data-toggle="tab" class="legitRipple" aria-expanded="false"><i class="icon-file-music2 position-left"></i>
																Filtreler
																<span class="badge bg-teal-800 badge-inline position-right">26</span>
															</a>
						</li>

						<li class="">
							<a href="#tab-demo3" data-toggle="tab" aria-expanded="false"> <i class="icon-file-stats2 position-left"></i> Raporlar</a>
						</li>
						<li><a href="#tab-demo4" data-toggle="tab" aria-expanded="false"><i class="icon-pinterest2"></i> Özellikler</a></li>



						<li class="disabled">
							<a href="#tab-disabled" data-toggle="tab">
								<i class="icon-file-video2 position-left"></i> Video
							</a>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown" aria-expanded="false">
								<i class="icon-file-stats2 position-left"></i> Statistics
								<span class="caret"></span>
							</a>

							<ul class="dropdown-menu dropdown-menu-right">
								<li class=""><a href="#tab-demo3" data-toggle="tab" aria-expanded="false"><i class="icon-dribbble3"></i> Dribbble</a></li>
								<li><a href="#tab-demo4" data-toggle="tab" aria-expanded="false"><i class="icon-pinterest2"></i> Pinterest</a></li>
								<li><a href="#tab-demo5" data-toggle="tab" aria-expanded="false"><i class="icon-github"></i> Github</a></li>
								<li><a href="#tab-demo6" data-toggle="tab" aria-expanded="false"><i class="icon-stackoverflow"></i> Stack Overflow</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>


		</div>


		<div class="tab-content">
			<div class="tab-pane fade active in" id="tab-demo1">

				<div class="row">
					<div class="col-md-6">
						<!-- Daily financials -->
						<div class="panel panel-flat">
							<div class="panel-heading">
								<h6 class="panel-title">Daily financials</h6>
								<div class="heading-elements">
									<span class="badge bg-danger-400 heading-text">+86</span>
								</div>
							</div>

							<div class="panel-body">
								<ul class="media-list">
									<li class="media">
										<div class="media-left">
											<a href="#" class="btn border-pink text-pink btn-flat btn-rounded btn-icon btn-xs"><i class="icon-statistics"></i></a>
										</div>

										<div class="media-body">
											Stats for July, 6: 1938 orders, $4220 revenue
											<div class="media-annotation">2 hours ago</div>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list">
												<li>
													<a href="#"><i class="icon-arrow-right13"></i></a>
												</li>
											</ul>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<a href="#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-xs"><i class="icon-checkmark3"></i></a>
										</div>

										<div class="media-body">
											Invoices <a href="#">#4732</a> and <a href="#">#4734</a> have been paid
											<div class="media-annotation">Dec 18, 18:36</div>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list">
												<li>
													<a href="#"><i class="icon-arrow-right13"></i></a>
												</li>
											</ul>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<a href="#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-xs"><i class="icon-alignment-unalign"></i></a>
										</div>

										<div class="media-body">
											Affiliate commission for June has been paid
											<div class="media-annotation">36 minutes ago</div>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list">
												<li>
													<a href="#"><i class="icon-arrow-right13"></i></a>
												</li>
											</ul>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<a href="#" class="btn border-warning-400 text-warning-400 btn-flat btn-rounded btn-icon btn-xs"><i class="icon-spinner11"></i></a>
										</div>

										<div class="media-body">
											Order <a href="#">#37745</a> from July, 1st has been refunded
											<div class="media-annotation">4 minutes ago</div>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list">
												<li>
													<a href="#"><i class="icon-arrow-right13"></i></a>
												</li>
											</ul>
										</div>
									</li>

									<li class="media">
										<div class="media-left">
											<a href="#" class="btn border-teal-400 text-teal btn-flat btn-rounded btn-icon btn-xs"><i class="icon-redo2"></i></a>
										</div>

										<div class="media-body">
											Invoice <a href="#">#4769</a> has been sent to <a href="#">Robert Smith</a>
											<div class="media-annotation">Dec 12, 05:46</div>
										</div>

										<div class="media-right media-middle">
											<ul class="icons-list">
												<li>
													<a href="#"><i class="icon-arrow-right13"></i></a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!-- /daily financials -->


					</div>

				</div>





			</div>
			<div class="tab-pane fade" id="tab-demo2">
				<div class="panel panel-flat">
					<div class="table-responsive">
						<table class="table text-nowrap">
							<thead>
								<tr>
									<th>Campaign</th>
									<th class="col-md-2">Client</th>
									<th class="col-md-2">Budget</th>
									<th class="col-md-2">Status</th>
								</tr>
							</thead>
							<tbody>
<tr *ngFor="let item of campaign?.ads; let i = index;">
									<td>
										<div class="media-left media-middle">
											<a href="#"><img src="//lumensession.dev/assets/images/placeholder.jpg" class="img-circle img-lg" alt=""></a>
										</div>
										<div class="media-left">
											<div class=""><a [routerLink]="['edit-item/', item.id]" class="text-default text-semibold">{{item.name}}</a></div>
											<div class="text-muted text-size-small">
												<span class="status-mark border-blue position-left"></span> 02:00 - 03:00
											</div>
										</div>
									</td>
									<td><span class="text-muted">Mintlime</span></td>
									<td>
										<h6 class="text-semibold">$5,489</h6>
									</td>
									<td><span class="label bg-blue">Active</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>






			</div>
			<div class="tab-pane fade" id="tab-demo5"> 
				

<form #cfForm="ngForm" (change)="formUpdate(cfForm);">

					<!-- Checkboxes -->
	            	<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">Checkboxes</h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>

	                	<div class="panel-body">
            				<p class="content-group">The HTML input element <code>&lt;input type=checkbox></code> is an input element to enter an array of different values. The <code>value</code> attribute is used to define the value submitted by the checkbox. The <code>checked</code> attribute is used to indicate whether this item is selected. The <code>indeterminate</code> attribute is used to indicate that the checkbox is in an indeterminate state (on most platforms, this draws a horizontal line across the checkbox).</p>

            				<div class="row">
            					<div class="col-md-6">
									<div class="form-group">
										<label class="text-semibold">Left stacked default</label>
										<div class="checkbox">
											<label>
												<input type="checkbox" checked="checked"  name="model1"  ngModel>
												Checked default
											</label>
										</div>

										<div class="checkbox">
											<label>
												<input type="checkbox">
												Unchecked default
											</label>
										</div>

										<div class="checkbox disabled">
											<label>
												<input type="checkbox" checked="checked" disabled="disabled">
												Disabled default
											</label>
										</div>
									</div>

									<div class="form-group">
										<label class="display-block text-semibold">Left inline default</label>
										<label class="checkbox-inline">
											<input type="checkbox" checked="checked">
											Checked default
										</label>

										<label class="checkbox-inline">
											<input type="checkbox">
											Unchecked default
										</label>
									</div>

									<div class="form-group pt-15">
										<label class="display-block text-semibold">Left stacked styled</label>
										<div class="checkbox">
											<label>
												<input type="checkbox" class="styled" checked="checked">
												Checked styled
											</label>
										</div>

										<div class="checkbox">
											<label>
												<input type="checkbox" class="styled">
												Unchecked styled
											</label>
										</div>

										<div class="checkbox disabled">
											<label>
												<input type="checkbox" class="styled" disabled="disabled">
												Disabled styled
											</label>
										</div>
									</div>

									<div class="form-group">
										<label class="display-block text-semibold">Lef inline styled</label>
										<label class="checkbox-inline">
											<input type="checkbox" class="styled" checked="checked" name="model2" ngModel>
											Checked styled
										</label>

										<label class="checkbox-inline">
											<input type="checkbox" class="styled">
											Unchecked styled
										</label>
									</div>

            					</div>

            					<div class="col-md-6">
									<div class="form-group">
										<label class="text-semibold">Right stacked default</label>
										<div class="checkbox checkbox-right">
											<label>
												<input type="checkbox" checked="checked">
												Checked default
											</label>
										</div>

										<div class="checkbox checkbox-right">
											<label>
												<input type="checkbox">
												Unchecked default
											</label>
										</div>

										<div class="checkbox checkbox-right disabled">
											<label>
												<input type="checkbox" checked="checked" disabled="disabled">
												Disabled default
											</label>
										</div>
									</div>

									<div class="form-group">
										<label class="display-block text-semibold">Right inline default</label>
										<label class="checkbox-inline checkbox-right">
											<input type="checkbox" checked="checked">
											Checked default
										</label>

										<label class="checkbox-inline checkbox-right">
											<input type="checkbox">
											Unchecked default
										</label>
									</div>

									<div class="form-group pt-15">
										<label class="display-block text-semibold">Right stacked styled</label>

										<div class="checkbox checkbox-right">
											<label>
												<input type="checkbox" class="styled" checked="checked">
												Checked styled
											</label>
										</div>

										<div class="checkbox checkbox-right">
											<label>
												<input type="checkbox" class="styled">
												Unchecked styled
											</label>
										</div>

										<div class="checkbox checkbox-right disabled">
											<label>
												<input type="checkbox" class="styled" checked="checked" disabled="disabled">
												Disabled styled
											</label>
										</div>
									</div>

									<div class="form-group">
										<label class="display-block text-semibold">Right inline styled</label>
										<label class="checkbox-inline checkbox-right">
											<input type="checkbox" class="styled" checked="checked">
											Checked styled
										</label>

										<label class="checkbox-inline checkbox-right">
											<input type="checkbox" class="styled">
											Unchecked styled
										</label>
									</div>
            					</div>
        					</div>
    					</div>
					</div>
					<!-- /checkboxes -->


					<!-- Radio buttons -->
	            	<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">Radio buttons</h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>

	                	<div class="panel-body">
            				<p class="content-group">Radio button is an element that can be turned on and off. Radio buttons are almost always grouped together in groups. Only one radio button within the same <code>radiogroup</code> may be selected at a time. The user can switch which radio button is turned on by selecting it with the mouse or keyboard. Other radio buttons in the same group are turned off. A label, specified with the <code>label</code> attribute may be added beside the radio button.</p>

            				<div class="row">
            					<div class="col-md-6">
									<div class="form-group">
										<label class="text-semibold">Left stacked default</label>
										<div class="radio">
											<label>
												<input type="radio" name="unstyled-radio-left" checked="checked">
												Selected default
											</label>
										</div>

										<div class="radio">
											<label>
												<input type="radio" name="unstyled-radio-left">
												Unselected default
											</label>
										</div>

										<div class="radio disabled">
											<label>
												<input type="radio" checked="checked" disabled="disabled">
												Disabled default
											</label>
										</div>
									</div>

									<div class="form-group">
										<label class="display-block text-semibold">Left inline default</label>
										<label class="radio-inline">
											<input type="radio" name="radio-unstyled-inline-left" checked="checked">
											Selected default
										</label>

										<label class="radio-inline">
											<input type="radio" name="radio-unstyled-inline-left">
											Unselected default
										</label>
									</div>

									<div class="form-group pt-15">
										<label class="text-semibold">Left stacked styled</label>
										<div class="radio">
											<label>
												<input type="radio" name="stacked-radio-left" class="styled" checked="checked">
												Selected styled
											</label>
										</div>

										<div class="radio">
											<label>
												<input type="radio" name="stacked-radio-left" class="styled">
												Unselected styled
											</label>
										</div>

										<div class="radio disabled">
											<label>
												<input type="radio" class="styled" disabled="disabled">
												Disabled styled
											</label>
										</div>
									</div>

									<div class="form-group">
										<label class="display-block text-semibold">grup 1</label>
										<label class="radio-inline">
											<input type="radio" name="radio-inline-left" class="styled" [value]="1" name="model3" ngModel>
											Selected styled
										</label>

										<label class="radio-inline">
											<input type="radio" name="radio-inline-left" class="styled" [value]="0" name="model3"  ngModel>
											Unselected styled
										</label>
									</div>
									<div class="form-group">
										<label class="display-block text-semibold">grup 2</label>
										<label class="radio-inline">
											<input type="radio" name="radio-inline-left" class="styled" [value]="1" name="model4" ngModel>
											Selected styled
										</label>

										<label class="radio-inline">
											<input type="radio" name="radio-inline-left" class="styled" [value]="0" name="model4"  ngModel>
											Unselected styled
										</label>
									</div>
            					</div>

            					<div class="col-md-6">
									<div class="form-group">
										<label class="text-semibold">Right stacked default</label>
										<div class="radio radio-right">
											<label>
												<input type="radio" name="unstyled-radio-right" checked="checked">
												Selected default
											</label>
										</div>

										<div class="radio radio-right">
											<label>
												<input type="radio" name="unstyled-radio-right">
												Unselected default
											</label>
										</div>

										<div class="radio radio-right disabled">
											<label>
												<input type="radio" checked="checked" disabled="disabled">
												Disabled default
											</label>
										</div>
									</div>

									<div class="form-group">
										<label class="display-block text-semibold">Right inline default</label>
										<label class="radio-inline radio-right">
											<input type="radio" name="radio-unstyled-inline-right" checked="checked">
											Selected default
										</label>

										<label class="radio-inline radio-right">
											<input type="radio" name="radio-unstyled-inline-right">
											Unselected default
										</label>
									</div>

									<div class="form-group pt-15">
										<label class="text-semibold">Right stacked styled</label>
										<div class="radio radio-right">
											<label>
												<input type="radio" name="stacked-radio-right" class="styled" checked="checked">
												Selected styled
											</label>
										</div>

										<div class="radio radio-right">
											<label>
												<input type="radio" name="stacked-radio-right" class="styled">
												Unselected styled
											</label>
										</div>

										<div class="radio radio-right disabled">
											<label>
												<input type="radio" class="styled" checked="checked" disabled="disabled">
												Disabled styled
											</label>
										</div>
									</div>

									<div class="form-group">
										<label class="display-block text-semibold">Right inline styled</label>
										<label class="radio-inline radio-right">
											<input type="radio" name="radio-inline-right" class="styled" checked="checked">
											Selected styled
										</label>

										<label class="radio-inline radio-right">
											<input type="radio" name="radio-inline-right" class="styled">
											Unselected styled
										</label>
									</div>
            					</div>
            				</div>
						</div>
					</div>
					<!-- /radio buttons -->


					<!-- Colors -->
	            	<div class="panel panel-flat">
						<div class="panel-heading">
							<h5 class="panel-title">Color options</h5>
							<div class="heading-elements">
								<ul class="icons-list">
			                		<li><a data-action="collapse"></a></li>
			                		<li><a data-action="reload"></a></li>
			                		<li><a data-action="close"></a></li>
			                	</ul>
		                	</div>
						</div>

	                	<div class="panel-body">
            				<p class="content-group">Besides default color, both checkboxes and radio buttons support 5 additional contextual color classes and other custom colors from color system. Colors are adapted to use in different background colors of parent elements - dropdown menus, active list states, input group addons - all checkboxes and radios are white on dark backgrounds. To use, simply add <code>background</code> and <code>text</code> color classes to Uniform's <code>wrapperClass</code> options.</p>

	                		<div class="row">
		                		<div class="col-md-6">
									<div class="form-group">
										<label class="text-semibold">Checkboxes</label>
										<div class="row">
											<div class="col-md-6">
												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-primary" checked="checked">
														Primary checkbox
													</label>
												</div>

												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-danger" checked="checked">
														Danger checkbox
													</label>
												</div>

												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-success" checked="checked">
														Success checkbox
													</label>
												</div>
											</div>

											<div class="col-md-6">
												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-warning" checked="checked">
														Warning checkbox
													</label>
												</div>

												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-info" checked="checked">
														Info checkbox
													</label>
												</div>

												<div class="checkbox">
													<label>
														<input type="checkbox" class="control-custom" checked="checked">
														Custom color
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-group">
										<label class="text-semibold">Radio buttons</label>
										<div class="row">
											<div class="col-md-6">
												<div class="radio">
													<label>
														<input type="radio" name="radio-styled-color" class="control-primary" checked="checked">
														Primary radio
													</label>
												</div>

												<div class="radio">
													<label>
														<input type="radio" name="radio-styled-color" class="control-danger">
														Danger radio
													</label>
												</div>

												<div class="radio">
													<label>
														<input type="radio" name="radio-styled-color" class="control-success">
														Success radio
													</label>
												</div>
											</div>

											<div class="col-md-6">
												<div class="radio">
													<label>
														<input type="radio" name="radio-styled-color" class="control-warning">
														Warning radio
													</label>
												</div>

												<div class="radio">
													<label>
														<input type="radio" name="radio-styled-color" class="control-info">
														Info radio
													</label>
												</div>

												<div class="radio">
													<label>
														<input type="radio" name="radio-styled-color" class="control-custom">
														Custom color
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
        				</div>
    				</div>
    				<!-- /colors -->


</form>
{{cfForm.value | json}}
			</div>
			<div class="tab-pane fade" id="tab-demo3">
				Raporlar

					<!-- Default options -->
					<div class="row">
						<div class="col-md-6">

							<!-- Basic examples -->
							<div class="panel panel-flat">
								<div class="panel-heading">
									<h5 class="panel-title">Basic examples</h5>
									<div class="heading-elements">
										<ul class="icons-list">
					                		<li><a data-action="collapse"></a></li>
					                		<li><a data-action="reload"></a></li>
					                		<li><a data-action="close"></a></li>
					                	</ul>
				                	</div>
								</div>

								<div class="panel-body">
<form #dfForm="ngForm" (change)="formUpdate(dfForm);">
									<!-- Default select -->
									<div class="form-group">
										<label>Default select</label>
										<select class="bootstrap-select" name="select01" data-width="100%" ngModel>
											<option value="AK">Alaska</option>
											<option value="HI">Hawaii</option>
											<option value="CA">California</option>
											<option value="NV">Nevada</option>
											<option value="OR">Oregon</option>
										</select>
									</div>
									<!-- /default select -->


									<!-- Option groups support -->
									<div class="form-group">
										<label>Option groups support</label>
										<select class="bootstrap-select" data-width="100%">
											<optgroup label="Alaskan/Hawaiian Time Zone">
												<option value="AK">Alaska</option>
												<option value="HI">Hawaii</option>
											</optgroup>
											<optgroup label="Pacific Time Zone">
												<option value="CA">California</option>
												<option value="NV">Nevada</option>
												<option value="OR">Oregon</option>
											</optgroup>
											<optgroup label="Mountain Time Zone">
												<option value="AZ">Arizona</option>
												<option value="CO">Colorado</option>
												<option value="ID">Idaho</option>
											</optgroup>
										</select>
									</div>
									<!-- /option groups support -->


									<!-- Multiple select -->
									<div class="form-group">
										<label>Multiple select</label>
										<select class="bootstrap-select" multiple="multiple" data-width="100%">
											<option value="AK">Alaska</option>
											<option value="HI">Hawaii</option>
											<option value="CA">California</option>
											<option value="NV">Nevada</option>
											<option value="OR">Oregon</option>
										</select>
									</div>
									<!-- /multiple select -->


									<!-- Multiple limited select -->
									<div class="form-group">
										<label>Limited select</label>
										<select class="bootstrap-select" multiple="multiple" data-max-options="2" data-width="100%">
											<option value="AK">Max 2 options</option>
											<option value="HI">Hawaii</option>
											<option value="CA">California</option>
											<option value="NV">Nevada</option>
											<option value="OR">Oregon</option>
										</select>
									</div>
									<!-- /multiple limited select -->


									<!-- Disabled state -->
									<div class="form-group">
										<label>Disabled state</label>
										<select class="bootstrap-select" disabled="disabled" data-width="100%">
											<option value="AK">Alaska</option>
											<option value="HI">Hawaii</option>
											<option value="CA">California</option>
											<option value="NV">Nevada</option>
											<option value="OR">Oregon</option>
										</select>
									</div>
									<!-- /disabled state -->


									<!-- Disabled option state -->
									<div class="form-group">
										<label>Disabled option state</label>
										<select class="bootstrap-select" data-width="100%">
											<option value="AK">Alaska</option>
											<option value="HI" disabled="disabled">Hawaii</option>
											<option value="CA">California</option>
											<option value="NV" disabled="disabled">Nevada</option>
											<option value="OR">Oregon</option>
										</select>
									</div>
									<!-- /disabled option state -->


									<!-- Disabled state for option groups -->
									<div class="form-group">
										<label>Disabled state for option groups</label>
										<select class="bootstrap-select" data-width="100%">
											<optgroup label="Pacific Time Zone" disabled="disabled">
												<option value="CA">California</option>
												<option value="NV">Nevada</option>
												<option value="WA">Washington</option>
											</optgroup>
											<optgroup label="Mountain Time Zone">
												<option value="AZ">Arizona</option>
												<option value="CO">Colorado</option>
												<option value="ID">Idaho</option>
											</optgroup>
											<optgroup label="Central Time Zone" disabled="disabled">
												<option value="AL">Alabama</option>
												<option value="AR">Arkansas</option>
												<option value="IL">Illinois</option>
											</optgroup>
										</select>
									</div>
									<!-- /disabled state for option groups -->


									<!-- Title alternative support -->
									<div class="form-group">
										<label>Option display alternative</label>
										<select class="bootstrap-select" data-width="100%">
											<option value="select">Select Hawaii</option>
											<option value="HI" title="This is a custom title for Hawaii">Hawaii</option>
											<option value="CA">California</option>
											<option value="NV">Nevada</option>
											<option value="OR">Oregon</option>
										</select>
									</div>
									<!-- /title alternative support -->


									<!-- Title alternative in multiple select -->
									<div class="form-group">
										<label>Options display alternative in multiple select</label>
										<select class="bootstrap-select" multiple="multiple" title="Choose one of the following..." data-width="100%">
											<option value="select">Select Hawaii, California and Nevada</option>
											<option value="HI" title="Fun">Hawaii</option>
											<option value="CA" title="Hollywood">California</option>
											<option value="NV" title="Casino">Nevada</option>
											<option value="OR">Oregon</option>
										</select>
									</div>
									<!-- /title alternative in multiple select -->


									<!-- Selection display alternative -->
									<div class="form-group">
										<label>Selection display alternative</label>
										<select class="bootstrap-select" multiple="multiple" data-selected-text-format="count" data-width="100%">
											<option value="select">Select 2 options</option>
											<option value="HI">Hawaii</option>
											<option value="CA">California</option>
											<option value="NV">Nevada</option>
											<option value="OR">Oregon</option>
										</select>
									</div>
									<!-- selection display alternative -->


									<!-- Custom count -->
									<div class="form-group">
										<label>Start count after 3rd selection</label>
										<select class="bootstrap-select" multiple="multiple" data-selected-text-format="count > 3" data-width="100%">
											<option value="AK">Alaska</option>
											<option value="HI">Hawaii</option>
											<option value="CA">California</option>
											<option value="NV">Nevada</option>
											<option value="OR">Oregon</option>
										</select>
									</div>
									<!-- /custom count -->


									<!-- Select with icons -->
									<div class="form-group">
										<label>Select with icons</label>
										<select class="bootstrap-select" multiple="multiple"  data-show-subtext="true" data-width="100%">
											<optgroup label="Services">
												<option value="wordpress2" data-icon="icon-wordpress2">Wordpress</option>
												<option value="tumblr2" data-icon="icon-tumblr2">Tumblr</option>
												<option value="stumbleupon" data-icon="icon-stumbleupon">Stumble upon</option>
												<option value="pinterest2" data-icon="icon-pinterest2">Pinterest</option>
												<option value="lastfm2" data-icon="icon-lastfm2">Lastfm</option>
											</optgroup>
											<optgroup label="File types">
												<option value="pdf" data-icon="icon-file-pdf">PDF</option>
												<option value="word" data-icon="icon-file-word">Word</option>
												<option value="excel" data-icon="icon-file-excel">Excel</option>
												<option value="openoffice" data-icon="icon-file-openoffice">Open office</option>
											</optgroup>
											<optgroup label="Browsers">
												<option value="chrome" data-icon="icon-chrome" selected="selected">Chrome</option>
												<option value="firefox" data-icon="icon-firefox">Firefox</option>
												<option value="safari" data-icon="icon-safari">Safari</option>
												<option value="opera" data-icon="icon-opera">Opera</option>
												<option value="IE" data-icon="icon-IE">IE</option>
											</optgroup>
									    </select>
									</div>
									<!-- /select with icons -->


									<!-- Custom options class -->
									<div class="form-group">
										<label>Custom options class</label>
										<select class="bootstrap-select" data-width="100%">
											<option value="AK">Alaska</option>
											<option value="HI">Hawaii</option>
											<option value="CA">California</option>
											<option value="NV" class="special-class">Nevada</option>
											<option value="OR">Oregon</option>
										</select>
									</div>
									<!-- /custom options class -->


									<!-- Using divider -->
									<div class="form-group">
										<label>Option divider support</label>
										<select class="bootstrap-select" data-width="100%">
											<option value="AK">Alaska</option>
											<option value="HI">Hawaii</option>
											<option value="CA" data-divider="true">California</option>
											<option value="NV">Nevada</option>
											<option value="OR">Oregon</option>
											<option value="WA" data-divider="true">Washington</option>
											<option value="AZ">Arizona</option>
											<option value="CO">Colorado</option>
										</select>
									</div>
									<!-- /using divider -->
</form>
								</div>
							</div>
							<!-- /basic examples -->

						</div>
						</div>





			</div>
			<div class="tab-pane fade" id="tab-demo4">Özellikler</div>

			<div class="tab-pane fade has-padding" id="tab-demo6">Stack Overflow statistics tab content</div>
		</div>


	</div>
</div>