<!-- Main content -->
<div class="">

	<div class="page-header bg-white">
		<div class="page-header-content ">
			<div class="page-title">
				<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Kampanya </span> - {{campaign?.camp.name}}</h4>
				<a class="heading-elements-toggle"><i class="icon-more"></i></a></div>

			<div class="heading-elements">
				<div class="heading-btn-group">
					<a [routerLink]="['add-item']" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-bars-alt text-primary"></i><span> Reklam Ekle </span></a>
					<a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-calculator text-primary"></i> <span>Raporlar</span></a>
					<a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-calendar5 text-primary"></i> <span>Ayarlar</span></a>
				</div>
			</div>
		</div>
		<div class="breadcrumb-line breadcrumb-line-component no-border-radius">
			<ul class="breadcrumb">
				<li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
				<li><a href="layout_boxed.html">Kampanya</a></li>
				<li class="active">Boxed layout</li>
			</ul>

			<ul class="breadcrumb-elements">
				<li><a href="#"><i class="icon-comment-discussion position-left"></i> Link</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-gear position-left"></i> Dropdown
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
						<li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
						<li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
						<li class="divider"></li>
						<li><a href="#"><i class="icon-gear"></i> All settings</a></li>
					</ul>
				</li>
			</ul>
		</div>

	</div>
	<!-- Main content -->

	<div class="content">

		<div class="tab-content-bordered navbar-component  no-border-radius">
			<div class="navbar navbar-inverse bg-teal-400" style="position: relative; z-index: 30;border-radius:0;">


				<div class="navbar-collapse collapse" id="demo1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#tab-demo1" data-toggle="tab" class="legitRipple" aria-expanded="true">
								<i class="icon-statistics position-left"></i> Özet
							</a>
						</li>
						<li><a href="#tab-demo2" data-toggle="tab" aria-expanded="false"><i class="icon-media  position-left"></i> Reklamlar</a></li>
						<li class="">
							<a href="#tab-demo5" data-toggle="tab" class="legitRipple" aria-expanded="false"><i class=" icon-hammer position-left"></i>
							Filtreler
							<span class="badge bg-teal-800 badge-inline position-right">26</span>
							</a>
						</li>

						<li class="">
							<a href="#tab-demo3" data-toggle="tab" aria-expanded="false"> <i class="icon-file-stats2 position-left"></i> Raporlar </a>
						</li>
						<li><a href="#tab-demo4" data-toggle="tab" aria-expanded="false"><i class="icon-alarm-check position-left"></i> Planlama </a></li>



						<li>
							<a href="#tab-demo6" data-toggle="tab">
								<i class="icon-calculator2 position-left"></i> Araçlar
							</a>
						</li>
						<li>
							<a href="#tab-demo7" data-toggle="tab">
								<i class="icon-calculator2 position-left"></i> Ayarlar
							</a>
						</li>

					</ul>
				</div>
			</div>


		</div>


		<div class="tab-content">
			<div class="tab-pane fade active in" id="tab-demo1">
				<first-display></first-display>

			</div>
			<div class="tab-pane fade" id="tab-demo2">
				<cam-ads [cam_ads]="campaign?.ads"></cam-ads>


			</div>
			<div class="tab-pane fade" id="tab-demo5">
				<filters *ngIf="campaign?.rules" [camp_data]="campaign?.camp" [camp_rules]="campaign?.rules"></filters>
			</div>
			<div class="tab-pane fade" id="tab-demo3">
				<cam-report></cam-report>

			</div>
			<div class="tab-pane fade" id="tab-demo4">
				planlama
			</div>

			<div class="tab-pane fade" id="tab-demo6">
				<camp-tools></camp-tools>
			</div>
			<div class="tab-pane fade" id="tab-demo7">
				<camp-options *ngIf="campaign?.camp" [camp_data]="campaign?.camp"></camp-options>
			</div>
		</div>


	</div>
</div>