<!-- Main sidebar -->
<div class="">
	<div class="sidebar-content">

		<!-- User menu -->
		<div class="sidebar-user hide">
			<div class="category-content">
				<div class="media">
					<a href="#" class="media-left"><img src="assets/images/image.png" class="img-circle img-sm" alt=""></a>
					<div class="media-body">
						<span class="media-heading text-semibold">Victoria Baker</span>
						<div class="text-size-mini text-muted">
							<i class="icon-pin text-size-small"></i> &nbsp;Santa Ana, CA
						</div>
					</div>

					<div class="media-right media-middle">
						<ul class="icons-list">
							<li>
								<a href="#"><i class="icon-cog3"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /user menu -->


		<!-- Main navigation -->
		<div class="sidebar-category sidebar-category-visible">
			<div class="category-content no-padding">
				<ul class="navigation navigation-main navigation-accordion">

					<!-- Main -->
					<li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
					<li><a routerLink="/" routerLinkActive="active"><i class="icon-home4"></i> <span>Dashboard</span></a></li>
					<li class="hide">
						<a href="#"><i class="icon-stack"></i> <span>Kampanyalar</span></a>
						<ul>
							<li><a routerLink="/adm" routerLinkActive="active">Administrator</a></li>
							<li><a routerLink="/adm/dashboard">Dashboard</a></li>

							<li class="navigation-divider"></li>
							<li><a href="/report">Raporlar</a></li>

						</ul>
					</li>
					<li>
						<a href="#"><i class="icon-stack"></i> <span>Kampanya</span></a>
						<ul>
							<li><a routerLink="/camps" routerLinkActive="active">Kampanyalar</a></li>
							<li><a routerLink="/camps/add-camp">Kampanya Ekle</a></li>
							<li><a routerLink="/camps/add-item">Reklam Ekle</a></li>

							<li class="navigation-divider"></li>
							<li><a href="/camps/manage/empty">Raporlar</a></li>

						</ul>
					</li>
					<li>
						<a href="#"><i class="icon-stack"></i> <span>Reklamlar</span></a>
						<ul>
							<li><a routerLink="/camps/all-ads">Tüm Reklamlar</a></li>
							<li><a routerLink="/camps/manage/empty">Reklam Ekle</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="icon-stack"></i> <span>Ajanslar</span></a>
						<ul>
							<li><a routerLink="/camps/manage/agency">Tüm Ajanslar</a></li>
							<li><a routerLink="/camps/manage/empty">Ajans Ekle</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="icon-stack"></i> <span>Raporlar</span></a>
						<ul>
							<li><a routerLink="/camps/manage/reports">Kampanya Raporları</a></li>
							<li><a routerLink="/camps/manage/reports">Reklam Raporları</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="icon-stack"></i> <span>Siteler</span></a>
						<ul>
							<li><a routerLink="/camps/manage/sites">Tüm Siteler</a></li>
							<li><a routerLink="/camps/manage/sites">Site Ekle</a></li>
						</ul>
					</li>
					<li><a href="/camps/manage/empty"><i class="icon-list-unordered"></i> <span>Notlar</span></a></li>
					<!-- /main -->

				</ul>
			</div>
		</div>
		<!-- /main navigation -->

	</div>
</div>
<!-- /main sidebar -->
<ul class="hide">
	<li class="hide">
		<a href="#">3 columns</a>
		<ul>
			<li><a href="3_col_dual.html">Dual sidebars</a></li>
			<li><a href="3_col_double.html">Double sidebars</a></li>
		</ul>
	</li>
	<li class="hide"><a href="4_col.html">4 columns</a></li>
	<li class="hide">
		<a href="#">Detached layout</a>
		<ul>
			<li><a href="detached_left.html">Left sidebar</a></li>
			<li><a href="detached_right.html">Right sidebar</a></li>
			<li><a href="detached_sticky.html">Sticky sidebar</a></li>
		</ul>
	</li>
</ul>

