<div class="text-image-ad"> 
    <div class="row">
  <div class="col-md-8">
<div class="panel panel-flat">
  <div class="panel-body">
    <form class="form-horizontal" #textImage="ngForm" (change)="formState($event)">


  <fieldset class="content-group">
    <div class="form-group">
      <label class="control-label col-lg-3">Reklam Adı</label>
      <div class="col-lg-9">
        <div class="form-control-static">Yatay Reklam</div>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-lg-3">Reklam Başlığı</label>
      <div class="col-lg-9">
        <input name="name" type="text" class="form-control" placeholder="ad title" ngModel="{{ad_data?.name}}">
      </div>
    </div>
<div ngModelGroup="ad_body">

    <div class="form-group">
      <label class="col-lg-3 control-label">Resim :</label>
      <div class="col-lg-9">
        <input type="file" name="imaj" class="file-styled"  (change)="uploadTest($event)">
        <span class="help-block"> Kabul edilebilir fomatlar : jpg, jpeg, png, fig</span>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-lg-3">Çıkış Adresi</label>
      <div class="col-lg-9">
        <input name="cikis_url" type="text" class="form-control" value="http://" ngModel="{{ad_data?.ad_body?.cikis_url}}">
      </div>
    </div>

</div>


    <div class="form-group">
      <label class="control-label col-lg-3">Yayın Durumu</label>
      <div class="col-lg-9">
        <select name="status" class="form-control" ngModel="{{ad_data?.status}}">
							                <option value="1">Aktif</option>
							                <option value="0">Bekliyor</option>
							              </select>
      </div>
    </div>





    <div class="form-group">
      <label class="control-label col-lg-3">Notlar</label>
      <div class="col-lg-9">
        <textarea rows="5" cols="5" name="note" class="form-control" placeholder="not.." ngModel="{{ad_data?.note}}"></textarea>
      </div>
    </div>
  </fieldset>



  <input name="user_id" type="hidden" ngModel="1">
  <input name="camp_id" type="hidden" ngModel="{{camp_id || ad_data?.id}}">
  <input name="rule_id" type="hidden" ngModel="1">
  <input name="count_id" type="hidden" ngModel="1">
  <div *ngIf="ad_data?.id > 0">
  <input name="id" type="hidden" ngModel="{{ad_data?.id}}">
  </div>

  <input name="type" type="hidden" value="banner" ngModel="banner">
</form>
  <div class="text-right">
    <button (click)="submitAd(textImage)" class="btn btn-primary">Gönder <i class="icon-arrow-right14 position-right"></i></button>
  </div>

    
     </div>
     </div>



     </div>
<div class="col-md-4">
<div class="panel panel-flat">
  <div class="panel-body">
<img width="100%" height="auto" src="{{currentImage}}" alt="">
  </div>
</div>
<div class="panel panel-flat">
  <div class="panel-body">
    {{uploadedFile}}
    <pre>
{{textImage.value | json}}
</pre>
  </div>
</div>
</div>



     </div>
     </div>