<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Appearance</span> - Content Panels</h4>
            <a class="heading-elements-toggle"><i class="icon-more"></i></a></div>

        <div class="heading-elements">
            <div class="heading-btn-group">
                <a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
                <a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                <a href="#" class="btn btn-link btn-float text-size-small has-text legitRipple"><i class="icon-calendar5 text-primary"></i> <span>Schedule</span></a>
            </div>
        </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-component"><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="icon-home2 position-left"></i> Home</a></li>
            <li><a href="appearance_content_panels.html">Appearance</a></li>
            <li class="active">Content panels</li>
        </ul>

        <ul class="breadcrumb-elements">
            <li><a href="#" class="legitRipple"><i class="icon-comment-discussion position-left"></i> Support</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle legitRipple" data-toggle="dropdown">
                    <i class="icon-gear position-left"></i> Settings
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                    <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                    <li><a href="#"><i class="icon-accessibility"></i> Accessibility</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-gear"></i> All settings</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- Main content -->



<div class="content">
    <!-- Form horizontal -->
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Yeni Kampanya</h5>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li>
                        <a data-action="collapse"></a>
                    </li>
                    <li>
                        <a data-action="reload"></a>
                    </li>
                    <li>
                        <a data-action="close"></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
          <form class="form-horizontal" #cfForm="ngForm" (change)="formState(cfForm);"> 
                <fieldset class="content-group">
                    <div class="form-group">
                        <label class="control-label col-lg-2">Kampanya Adı</label>
                        <div class="col-lg-10">
                            <input name="name" type="text" class="form-control" placeholder="örn: ayakkabı sezonu" ngModel>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Kampanya Türü</label>
                        <div class="col-lg-10">
                            <select name="type" class="form-control" ngModel>
							          <option value="banner">Banner</option>
							          <option value="feed">Feed</option>
							        </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Notlar</label>
                        <div class="col-lg-10">
                            <textarea name="note" rows="5" cols="5" class="form-control" placeholder="Default textarea" ngModel></textarea>
                        </div>
                    </div>
                </fieldset>
                <input name="user_id" type="hidden" value="1" ngModel="1">
                <input name="status" type="hidden" value="1" ngModel="1">
                <input name="count_id" type="hidden" value="1" ngModel="1">
                <input name="collections" type="hidden" value="1" ngModel="1">
                <div class="text-right"> 
                    <button (click)="submitPost()" class="btn btn-primary">Gönder <i class="icon-arrow-right14 position-right"></i></button>
                </div>
            </form>
             {{cfForm.value | json}}
        </div>
    </div>
    <!-- /form horizontal -->




</div>
<!-- /main content -->