	<div class="panel panel-flat">
					<div class="table-responsive">
						<table class="table text-nowrap">
							<thead>
								<tr>
									<th>Ad Name</th>
									<th class="col-md-2">End Date</th>
									<th class="col-md-2">Budget</th>
									<th class="col-md-2">Status</th>
								</tr>
							</thead>
							<tbody>
<tr *ngFor="let item of cam_ads; let i = index;">
									<td>
										<div class="media-left media-middle hide">
											<a href="#"><img src="//lumensession.dev/assets/images/placeholder.jpg" class="img-circle img-lg" alt=""></a>
										</div>
										<div class="media-left">
											<div class=""><a [routerLink]="['edit-item/', item.id]" class="text-default text-semibold">{{item.name}}</a></div>
											<div class="text-muted text-size-small">
												<span class="status-mark border-blue position-left"></span> 02:00 - 03:00
											</div>
										</div>
									</td>
									<td><span class="text-muted">Mintlime</span></td>
									<td>
										<h6 class="text-semibold">$5,489</h6>
									</td>
									<td><span class="label bg-blue">Active</span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>



