@import 'assets/css/bootstrap.css';
@import 'assets/css/core.css';
@import 'assets/css/components.css';
@import 'assets/css/colors.css';

/*.sidebar {
    display: inline-block;
    vertical-align: top;
    width: 280px !important;
    padding-right: 20px;
}*/
/*.page-content, .content-wrapper{
display: block !important;

}
@media (min-width: 769px){

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


}
*/


.page-container .login-form, .page-container .registration-form {
    margin: 0 auto 20px auto;
}

.page-container .login-form {
    width: 320px;
}


.navbar.navbar-default.header-highlight {
        z-index: 99;
}

.ngx-pagination .current {
    padding: 9px 17px !important;
    color: #fff;
    border-width: 0;
    overflow: hidden;
    font-size: 13px;
  }

  .page-header .breadcrumb-line-component {
border-top: 1px solid #eeeeee;
  margin-left: 0!important;
  margin-right: 0!important;
}

.page-header-content {
    background-color: #fff;
    color: #333333;
}